<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">
      function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
          ['Date', 'ED', 'ICU', 'Internal 1', 'NAD'],
          ['11/1',  46.8,      48.3,         46.6,             44.6],
          ['11/2',  46.7,      49.6,         47.6,             45.6],
          ['11/3',  47.4,      49.3,         47.7,             46.0],
          ['11/4',  47.9,      50.6,         50.7,             47.6],
          ['11/5',  50.4,      50.3,         49.7,             47.8],
          ['11/7',  51.1,      51.1,         51.6,             49.6],
          ['11/8',  52.1,      51.7,         51.2,             50.6],
          ['11/9',  52.5,      51.9,         51.6,             50.9],
          ['11/10',  52.5,      51.9,         51.6,            52.6],
          ['11/11',  53.3,      52.2,         51.6,             53.6],
          ['11/12',  54.2,      53.2,         54.6,             54.6],
          ['11/13',  55.6,      54.1,         55.6,             55.6],
          ['11/14',  56.6,      55.8,         58.6,             57.6],
          ['11/15',  57.6,      56.5,         59.6,             58.6],
        ]);

        var options = {
          colors: ["#c6e8ff", '#699cbf', "#46687f", '#4077e1'],
          title : 'Compliance Rates: %',
          titleTextStyle: {color: '#46687f'},
          vAxis: {
            textPosition: 'in'
          },
          legend: {
            position: "top",
            textStyle: {color: '#3498db'},
            alignment: "end"
          },
          hAxis: {
          baselineColor: "#3498db",
          gridlinesColor: "grey",
          gridlinesCount: "-1",
        },
          seriesType: "bars",
          series: {3: {type: "line"}},
          backgroundColor: 'white',
          chartArea: {
            width: "100%",
            height: "70%",
            backgroundColor: {
              stroke: '#3498db',
              strokeWidth: 1
            }
          }
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
      google.setOnLoadCallback(drawVisualization);
    </script>
<script src="/assets/jquery.js"></script>
<link href='http://fonts.googleapis.com/css?family=Prosto+One' rel='stylesheet' type='text/css'>
<style>
h3 {
  font-size: 11px;
  font-family: arial;
  margin-top: -25px;
  margin-right: -100px;
  padding-left: 20px;
  font-style: italic;
}
h2 {
	padding: 0 0 0 0;
  font-size: 60px;
}
body {
	background-color: rgba(255, 255, 255, .1);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top left;
	-webkit-transition: background-position 90s;
	margin: 0;
  padding: 0;
}
img {
  padding: 0px 0 0 0;
  margin: 0;
  border: 0;
}
.sumdata {
  border-width: 1px;
  border-color: #699cbf;
  border-style: solid;
  color: #699cbf;
  margin-top: -300px;
  padding-bottom: 240px;
  padding-right: 150px;
  margin-left: 770px;
  height: 270px;
  margin-bottom: 40px;

}

h1 {
	color: #91d9ff;
  text-align: left;
  padding: 0;
	font-size: 25px;
	font-family: 'Prosto One', cursive;
}
input {
	border: 0;
	padding: 8px;
	font-size: 18px;
	background: rgba(255, 255, 255, .25);
	color: rgba(20, 25, 150, .7);
	border-radius: 50px;

}
input[type="submit"] {
      background: rgba(52, 152, 219,.8);
      color: rgba(0, 0, 0, .9);
      border-radius: 50px;
}
p {
	text-align: center;
}
th, td {
    border: 1px solid black;
    overflow: hidden;
    width: 100px;
}
table {
  width: 40px;
}
.table1 {
  padding: 20px 390px 0 0px;
  margin-top: 40px;
}

.table-bordered {
  border: 50px;
}
.condensed {
}
.show-description {
	background-position: top right;
	margin: 0;
}
.jumbotron {
	background: rgba(0, 30, 250, .8);
	padding: 80px;
	margin: 80px;
}
#chart_div {
  margin-left: 0;
  padding-left: 0;
  position:relative;
  left:0px;
}
.title2 {
  color: rgba(158, 208, 255, 1);
}
#arrow {
  margin-top: 7px;
  margin-right: -20px;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  <img class="is" src="semmelFIN.png" width="200px" height="40px"/>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Dashboard</a></li>
      
      </li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Provider Name">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <% end %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Account Details</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Billing</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<!--  <img src="layout.png" height="300" width="300" align="right" style="padding: 10" top: "-100px"/> -->
<div id="chart_div" style="margin-left: 0px; width: 750px; height: 300px;"></div><div class="sumdata" align="right" height="300"><h2>58.7%<img id="arrow" src="arrow.png" height="50" width="50"><h2><h3 align="left">estimated compliance based on moving average.</div>
<div style="height:500px;overflow:auto;">
<table class="table table-bordered">
  <tr class="active">
    <th>Department</th>
    <th>Provider</th>
    <th>Comp. Rate</th>
  </tr>
  <tr>
    <td>ED</td>
    <td>Dr. H. Williams</td>
    <td class="danger">37.4%</td>
  </tr>
  <tr>
    <td>ICU</td>
    <td>Derek Anderson</td>
    <td class="danger">38.2%</td>
  </tr>
  <tr>
    <td>ED</td>
    <td>John Nemours, RN</td>
    <td class="danger">41.2%</td>
  </tr>
    <tr>
    <td>ED</td>
    <td>Dr. Jacob Meyers</td>
    <td class="warning">46.3%</td>
  </tr>
    <tr>
    <td>ED</td>
    <td>Dr. Mark Halperin</td>
    <td class="warning">51.2%</td>
  </tr>
    <tr>
    <td>ED</td>
    <td>Jason Shipley, PA</td>
    <td class="warning">51.6%</td>
  </tr>
    <tr>
    <td>ED</td>
    <td>Karen Anderson, PA</td>
    <td class="warning">53.0%</td>
  </tr>
    <tr>
    <td>ED</td>
    <td>Dr. Paul Oplejan</td>
    <td class="warning">54.7%</td>
  </tr>
    <tr>
    <td>ED</td>
    <td>Dr. Karen Chambers</td>
    <td class="success">76.2%</td>
  </tr>
    <tr>
    <td>ED</td>
    <td>Dr. Karen Chambers</td>
    <td class="success">76.2%</td>
  </tr>  <tr>
    <td>ED</td>
    <td>Dr. Karen Chambers</td>
    <td class="success">76.2%</td>
  </tr>  <tr>
    <td>ED</td>
    <td>Dr. Karen Chambers</td>
    <td class="success">76.2%</td>
  </tr>  <tr>
    <td>ED</td>
    <td>Dr. Karen Chambers</td>
    <td class="success">76.2%</td>
  </tr>  <tr>
    <td>ED</td>
    <td>Dr. Karen Chambers</td>
    <td class="success">76.2%</td>
  </tr>  <tr>
    <td>ED</td>
    <td>Dr. Karen Chambers</td>
    <td class="success">76.2%</td>
  </tr>
</table>
</div>
</body>
<script>
$("h1").on("click", function () {
	alert("yes!");
});
</script>
</html>