<!DOCTYPE html>
<html>
<head>
<script src="/assets/jquery.js"></script>
<link href='http://fonts.googleapis.com/css?family=Prosto+One' rel='stylesheet' type='text/css'>
<style>
h2 {
	padding: 2500px 0 0 0;
}
body {
	background-color: rgba(255, 255, 255, .7);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top left;
	-webkit-transition: background-position 90s;
	margin: 0;
}

h1 {
	color: rgba(0, 255, 255, .8);
	margin: 0;
	font-size: 80px;
	font-family: 'Prosto One', cursive;
}
input {
	border: 0;
	padding: 8px;
	font-size: 18px;
	background: rgba(255, 255, 255, .25);
	color: rgba(20, 25, 150, .7);
	border-radius: 50px;

}
input[type="submit"] {
      background: rgba(52, 152, 219,.8);
      color: rgba(0, 0, 0, .9);
      border-radius: 50px;
}
p {
	text-align: center;
}

.table-bordered {
  border: 50px;
}
.condensed {

}
.show-description {
	background-position: top right;
	margin: 0;
}
.jumbotron {
	background: rgba(0, 30, 250, .25);
	padding: 80px;
	margin: 80px;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">SEMMELWEIS</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Dashboard</a></li>
      
      </li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Provider Name">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <% end %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Account Details</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Billing</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class-"table1">
<table class="table table-bordered condensed">
  <tr class="active">
    <th>Department</th>
    <th>Provider</th>
    <th>Comp. Rate</th>
  </tr>
  <tr>
    <td>ED</td>
    <td>Dr. H. Williams</td>
    <td class="danger">37.4%</td>
  </tr>
  <tr>
    <td>ICU</td>
    <td>Derek Anderson</td>
    <td class="success">61.2%</td>
  </tr>
  <tr>
    <td>ED</td>
    <td>Dr. Karen Chambers</td>
    <td class="success">76.2%</td>
  </tr>
  <tr class="danger">ten</tr>
</table>
</div>
</body>
<script>
$("h1").on("click", function () {
	alert("yes!");
});
</script>
</html>