<!DOCTYPE html>
<head>
<script src="/assets/jquery.js"></script>
<style>
body {
	font-family: helvetica;
	background: url("http://www.google.com/url?sa=i&source=images&cd=&cad=rja&docid=WsZ7Emg2JiBuwM&tbnid=DxPOfNCHI9YzPM:&ved=0CAgQjRwwAA&url=http%3A%2F%2Fwallpis.com%2Fearth-wallpapers-hd%2F&ei=p1NgUveBG7i44AOV3YGgBg&psig=AFQjCNGFAw23KoYA7IxnNBSSolb_H8icDA&ust=1382130983500126");
	background-size: cover;
	background-position: center;
}
h1 {
	color: rgba(255, 0, 0, .5);
}
</style>
</head>
<body>
<h1>hello</h1>

<script>
$("h1").on("click", function () {
	alert("yes!");
});
</script>
</body>