<!DOCTYPE html>
<head>
<script src="/assets/jquery.js"></script>
<link href='http://fonts.googleapis.com/css?family=Prosto+One' rel='stylesheet' type='text/css'>
<style>
body {
	background: url("http://wallpis.com/wp-content/uploads/2013/07/Earth-Wallpapers-HD-.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left top;
}
h1 {
	color: rgba(255, 255, 255, .8);
	margin: 0;
	font-size: 80px;
	font-family: 'Prosto One', cursive;
}
</style>
</head>
<body>
<h1>ABOUT</h1>

<script>
$("h1").on("click", function () {
	alert("yes!");
});
</script>
</body>