<!DOCTYPE html>
<head>
<script src="/assets/jquery.js"></script>
<style>
body {
	font-family: helvetica;
	background: url("http://wallpis.com/wp-content/uploads/2013/07/Earth-Wallpapers-HD-.jpg");
	background-size: cover;
	background-position: center;
}
h1 {
	color: rgba(255, 0, 0, .5);
}
</style>
</head>
<body>
<h1>hello</h1>

<script>
$("h1").on("click", function () {
	alert("yes!");
});
</script>
</body>